.mainConatainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  overflow: auto;
}

.title {
  width: 229px;
  font-weight: 700;
  font-size: 16px;
  color: #3ea19d;
}
.description {
  max-width: 587px;
  min-width: 343px;
  font-weight: 700 !important;
  font-size: 46px;
  color: #022422;
}

.shortDescription {
  max-width: 587px;
  min-width: 343px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  color: #384e4c;
  margin-bottom: 50px;
}
.card {
  max-width: 587px;
  min-width: 300px;
  max-height: 366px;
  margin-top: 237px;
}
.buttonStyle {
  gap: 10px;
  width: 151px;
  height: 48px;
  display: block !important;
}
.buttonStyle1 {
  gap: 10px;
  width: 151px;
  height: 48px;
  display: none !important;
}
.imageCard {
  margin-top: 120px;
}
.image {
  max-width: 485px;
  min-width: 342px;
}
.css-gepadz-MuiTypography-root {
  margin-top: 28px !important;
  margin-bottom: 20px !important;
}

@media screen and (max-width: 756px) {
  .mainConatainer {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-top: 70px;
    margin-left: 16px;
  }
  .description {
    font-size: 22px;
    margin: 16px 0px;
  }
  .css-gepadz-MuiTypography-root {
    margin: 16px 0px !important;
  }
  .shortDescription {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .image {
    width: 343px;
    height: 414px;
  }
  .buttonCard {
    margin-top: 16px !important;
  }
  .buttonStyle{
    display: none !important;
  }
  .buttonStyle1{
    display: block !important;
  }
}
