
.responsive-navbar {
  display: block !important;
}
.responsive-navbar-bar {
  display: none !important;
}
.reponsive-nav-text {
  display: flex;
  justify-content: space-around !important;
}
.navbar-logo {
  width: 155px;
  height: 32px;
}
@media (max-width: 950px) {
  .responsive-navbar {
    display: none !important;
  }
  .reponsive-nav-text {
    display: flex;
    justify-content: flex-start !important;
  }
  .responsive-navbar-bar {
    display: block !important;
  }
}
